{% load static %}
{% block contenido %}

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://w7.pngwing.com/pngs/719/645/png-transparent-mcdonalds-round-logo-thumbnail.png" width="36" class="d-inline-block align-text-top" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <form class="d-flex me-2">
            <input type="text" class="form-control form-control-sm" placeholder="Search" />
          </form>
          <a class="btn btn-outline-primary rounded-pill px-3" href="">Sign up</a>
        </div>
      </div>
    </div>
</nav>

<script>
  window.addEventListener('scroll', function() {
    const navbar = document.querySelector('.navbar');
    if (window.scrollY > 50) {
      navbar.classList.add('navbar-scrolled');
    } else {
      navbar.classList.remove('navbar-scrolled');
    }
  });
</script>

<style>
  .navbar-scrolled {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
  }
</style>


{% endblock %}