{% load static %}
{% block contenido %}
<header>
    <div>
      <h1>LOGO</h1>
    </div>
    <nav>
     <ul>
       <li><a href="#">INICIO </a> </li>
       <li class="desplegable">
         <a href="#">PRODUCTOS </a>
         <ul>
           <li> <a href="#servicios1"> SALCHIPAPAS </a></li>
           <li> <a href="#servicios2"> ALITAS </a></li>
           <li> <a href="#servicios2"> BURRITOS </a></li>
         </ul>
       </li>
       <li><a href="#"> CONTACTO</a> </li>
       <li><a href="#"> LOGIN </a></li>
     </ul>
   </nav>
  </header>
{% endblock %}