{% load static %}
{% block contenido %}
<header>
    <div>
      <h1>LOGO</h1>
    </div>
    <nav>
     <ul>
       <li><a href="#">INICIO </a> </li>
       <li class="desplegable">
         <a href="#">SERVICIOS </a>
         <ul>
           <li> <a href="#servicios1"> SERVICIOS 1 </a></li>
           <li> <a href="#servicios2"> SERVICIOS 2 </a></li>
         </ul>
       </li>
       <li><a href="#"> CONTACTO</a> </li>
       <li><a href="#"> LOGIN </a></li>
     </ul>
   </nav>
  </header>
{% endblock %}